.tag-line{
  color: black;
}

.header-img{
  width:100vw;
}

.about{
  text-align: center;
}

.product{
  height:50vh;
  &.odd{
    background: #FFFFFF;
  }
  &.even{
    background: #F8F8FF;
  }
}

.content{
  text-align: center;
}
